{% include "header.html"%}

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 ">
        <div class="owl-carousel header-carousel position-relative ">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/house1.jpg" alt="" style="height: 100dvh;" >
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white-new text-uppercase mb-3 animated slideInDown">Real estate Solution</h5>
                                <h1 class="display-3 text-white-new animated slideInDown mb-4">#1 Place For Your <span class="text-primary">House Pricing</span> Solution</h1>
                                <p class="fs-5 fw-medium text-white-new mb-4 pb-2">The house price prediction website utilizes advanced algorithms and historical data to provide accurate and reliable estimates of property values.</p>
                                <a href="/predict" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Predict</a>
                                <a href="/about" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="static/img/estates.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white-new text-uppercase mb-3 animated slideInDown">Housing Prices Solution</h5>
                                <h1 class="display-3 text-white-new animated slideInDown mb-4">#1 Place For Your <span class="text-primary">House Pricing</span> Solution</h1>
                                <p class="fs-5 fw-medium text-white-new mb-4 pb-2">The house price prediction website leverages machine learning techniques to analyze market trends and provide users with insightful forecasts on property values.</p>
                                <a href="/predict" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Predict</a>
                                <a href="/about" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="container-xxl ">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3" style="color: #7D98A1;">Some Facts</h6>
                    <h1 class="mb-5">#1 Place To Predict your house price</h1>
                    <p class="mb-5">Be it a time to buy a new house or to sell your existing .You are ready to preditct the price. This saves your time that equals money. Indirectly you are saving your time and money together at one place</p>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                        <div class="ps-4">
                            <h6>Call for any query!</h6>
                            <h3 class="text-secondary text-primary m-0">+977 98510-12345</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-6">
                            <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                                <i class="fa fa-users fa-2x text-white mb-3"></i>
                                <span style="display: flex;align-items: flex-start;gap: 0.3rem;"><h2 class="text-white mb-2" data-toggle="counter-up">1234 </h2><h5 style="color: #FFFFFC;" >+</h5></span>
                                
                                <p class="text-white mb-0">Happy Clients</p>
                            </div>
                            <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                                <i class="fa fa-ship fa-2x text-white mb-3"></i>
                                <span style="display: flex;align-items: flex-start;gap: 0.3rem;"> <h2 class="text-white mb-2" data-toggle="counter-up">3000</h2><h5 style="color: #FFFFFC;" >+</h5></span>
                                <p class="text-white mb-0">Houses</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                                <i class="fa fa-star fa-2x text-white mb-3"></i>
                                <span style="display: flex;align-items: flex-start;gap: 0.3rem;"> <h2 class="text-white mb-2" data-toggle="counter-up">2534</h2><h5 style="color: #FFFFFC;" >+</h5></span>
                                <p class="text-white mb-0">Customer Reviews</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-dark text-uppercase">Our Team</h6>
                <h1 class=" text-secondary mb-5">Baastavik Sampati Members</h1>
            </div>
            <div class="row g-4">
                
                {% for n in teamdata %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="/{{n.team_image}}" alt="">
                        </div>
                        <h5 class="mb-0">{{n.team_name}}</h5>
                        <!-- <p style="margin-bottom: 0px;">{{n.team_address}}</p> -->
                        <p >{{n.team_designation}}</p>
                        <div class="btn-slide mt-1">
                            <i class="fa fa-share"></i>
                            <span>
                                <a href="/"><i class="fab fa-facebook-f"></i></a>
                                <a href="/"><i class="fab fa-twitter"></i></a>
                                <a href="/"><i class="fab fa-instagram"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% include "footer.html"%}
</body>

</html>